<%= form_for(@bincontent) do |f| %>
  <% if @bincontent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bincontent.errors.count, "error") %> prohibited this bincontent from being saved:</h2>

      <ul>
      <% @bincontent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :storagebin_id %><br />
    <%= f.number_field :storagebin_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :unitofmeasure %><br />
    <%= f.text_field :unitofmeasure %>
  </div>
  <div class="field">
    <%= f.label :quantify %><br />
    <%= f.text_field :quantify %>
  </div>
  <div class="field">
    <%= f.label :reorderquantity %><br />
    <%= f.text_field :reorderquantity %>
  </div>
  <div class="field">
    <%= f.label :productexpirationdate %><br />
    <%= f.date_select :productexpirationdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
