<h1>Listing bincontents</h1>

<table>
  <tr>
    <th>Storagebin</th>
    <th>Product</th>
    <th>Unitofmeasure</th>
    <th>Quantify</th>
    <th>Reorderquantity</th>
    <th>Productexpirationdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bincontents.each do |bincontent| %>
  <tr>
    <td><%= bincontent.storagebin_id %></td>
    <td><%= bincontent.product_id %></td>
    <td><%= bincontent.unitofmeasure %></td>
    <td><%= bincontent.quantify %></td>
    <td><%= bincontent.reorderquantity %></td>
    <td><%= bincontent.productexpirationdate %></td>
    <td><%= link_to 'Show', bincontent %></td>
    <td><%= link_to 'Edit', edit_bincontent_path(bincontent) %></td>
    <td><%= link_to 'Destroy', bincontent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bincontent', new_bincontent_path %>
