<p id="notice"><%= notice %></p>

<p>
  <b>Storagebin:</b>
  <%= @bincontent.storagebin_id %>
</p>

<p>
  <b>Product:</b>
  <%= @bincontent.product_id %>
</p>

<p>
  <b>Unitofmeasure:</b>
  <%= @bincontent.unitofmeasure %>
</p>

<p>
  <b>Quantify:</b>
  <%= @bincontent.quantify %>
</p>

<p>
  <b>Reorderquantity:</b>
  <%= @bincontent.reorderquantity %>
</p>

<p>
  <b>Productexpirationdate:</b>
  <%= @bincontent.productexpirationdate %>
</p>


<%= link_to 'Edit', edit_bincontent_path(@bincontent) %> |
<%= link_to 'Back', bincontents_path %>
