<h1>Listing warehouselocations</h1>

<table>
  <tr>
    <th>Warehousename</th>
    <th>Street</th>
    <th>Number</th>
    <th>Zip</th>
    <th>City</th>
    <th>Country</th>
    <th>Contactperson</th>
    <th>Phone</th>
    <th>Mobile</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @warehouselocations.each do |warehouselocation| %>
  <tr>
    <td><%= warehouselocation.warehousename %></td>
    <td><%= warehouselocation.street %></td>
    <td><%= warehouselocation.number %></td>
    <td><%= warehouselocation.zip %></td>
    <td><%= warehouselocation.city %></td>
    <td><%= warehouselocation.country %></td>
    <td><%= warehouselocation.contactperson %></td>
    <td><%= warehouselocation.phone %></td>
    <td><%= warehouselocation.mobile %></td>
    <td><%= warehouselocation.email %></td>
    <td><%= link_to 'Show', warehouselocation %></td>
    <td><%= link_to 'Edit', edit_warehouselocation_path(warehouselocation) %></td>
    <td><%= link_to 'Destroy', warehouselocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Warehouselocation', new_warehouselocation_path %>
