<p id="notice"><%= notice %></p>

<p>
  <b>Warehousename:</b>
  <%= @warehouselocation.warehousename %>
</p>

<p>
  <b>Street:</b>
  <%= @warehouselocation.street %>
</p>

<p>
  <b>Number:</b>
  <%= @warehouselocation.number %>
</p>

<p>
  <b>Zip:</b>
  <%= @warehouselocation.zip %>
</p>

<p>
  <b>City:</b>
  <%= @warehouselocation.city %>
</p>

<p>
  <b>Country:</b>
  <%= @warehouselocation.country %>
</p>

<p>
  <b>Contactperson:</b>
  <%= @warehouselocation.contactperson %>
</p>

<p>
  <b>Phone:</b>
  <%= @warehouselocation.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @warehouselocation.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @warehouselocation.email %>
</p>


<%= link_to 'Edit', edit_warehouselocation_path(@warehouselocation) %> |
<%= link_to 'Back', warehouselocations_path %>
