<%= form_for(@storagebin) do |f| %>
  <% if @storagebin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storagebin.errors.count, "error") %> prohibited this storagebin from being saved:</h2>

      <ul>
      <% @storagebin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :warehouselocation_id %><br />
    <!-- %= f.number_field :warehouselocation_id % -->
    <%= f.input :warehouselocation_id, :as => :select, :collection => Hash[Warehouselocation.all.map{|b| [b.warehousename,b.id]}] %>
  </div>
  <div class="field">
    <%= f.label :storagebinname %><br />
    <%= f.text_field :storagebinname %>
  </div>
  <div class="field">
    <%= f.label :row_x %><br />
    <%= f.number_field :row_x %>
  </div>
  <div class="field">
    <%= f.label :stack_y %><br />
    <%= f.number_field :stack_y %>
  </div>
  <div class="field">
    <%= f.label :level_z %><br />
    <%= f.number_field :level_z %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
