<h1>Listing storagebins</h1>

<table>
  <tr>
    <th>Warehouselocation</th>
    <th>Storagebinname</th>
    <th>Row x</th>
    <th>Stack y</th>
    <th>Level z</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storagebins.each do |storagebin| %>
  <tr>
    <td><%= storagebin.warehouselocation_id %></td>
    <td><%= storagebin.storagebinname %></td>
    <td><%= storagebin.row_x %></td>
    <td><%= storagebin.stack_y %></td>
    <td><%= storagebin.level_z %></td>
    <td><%= link_to 'Show', storagebin %></td>
    <td><%= link_to 'Edit', edit_storagebin_path(storagebin) %></td>
    <td><%= link_to 'Destroy', storagebin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storagebin', new_storagebin_path %>
