<p id="notice"><%= notice %></p>

<p>
  <b>Warehouselocation:</b>
  <%= @storagebin.warehouselocation_id %>
</p>

<p>
  <b>Storagebinname:</b>
  <%= @storagebin.storagebinname %>
</p>

<p>
  <b>Row x:</b>
  <%= @storagebin.row_x %>
</p>

<p>
  <b>Stack y:</b>
  <%= @storagebin.stack_y %>
</p>

<p>
  <b>Level z:</b>
  <%= @storagebin.level_z %>
</p>


<%= link_to 'Edit', edit_storagebin_path(@storagebin) %> |
<%= link_to 'Back', storagebins_path %>
