<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
    <%= f.label :productname %><br />
    <%= f.text_field :productname %>
  </div>

-->
  <div class="field">
    <%= f.label :supplier_id %><br />
    <!-- %= f.number_field :supplier_id % -->
    <%= f.input :supplier, :label => 'Supplier', :as => :select => proc {(Supplier.all).map{|c| [c.suppliername, c.id] }} :include_blank => false % %>
  </div>
  <div class="field">
    <%= f.label :productdescription %><br />
    <%= f.text_field :productdescription %>
  </div>
  <div class="field">
    <%= f.label :standardprice %><br />
    <%= f.text_field :standardprice %>
  </div>
  <div class="field">
    <%= f.label :minimumorderquantity %><br />
    <%= f.number_field :minimumorderquantity %>
  </div>
  <div class="field">
    <%= f.label :maximumorderquantity %><br />
    <%= f.text_field :maximumorderquantity %>
  </div>
  <div class="field">
    <%= f.label :quantitytype %><br />
    <%= f.text_field :quantitytype %>
  </div>
  <div class="field">
    <%= f.label :deliveryleadtime %><br />
    <%= f.number_field :deliveryleadtime %>
  </div>
  <div class="field">
    <%= f.label :valuesuppliedtodate %><br />
    <%= f.text_field :valuesuppliedtodate %>
  </div>
  <div class="field">
    <%= f.label :totalquantitysuppliedtodate %><br />
    <%= f.number_field :totalquantitysuppliedtodate %>
  </div>
  <div class="field">
    <%= f.label :firstitemsupplieddate %><br />
    <%= f.date_select :firstitemsupplieddate %>
  </div>
  <div class="field">
    <%= f.label :lastitemsupplieddate %><br />
    <%= f.date_select :lastitemsupplieddate %>
  </div>
  <div class="field">
    <%= f.label :percentagediscount %><br />
    <%= f.number_field :percentagediscount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
