<h1>Listing products</h1>


<table>
  <tr>
    <th>Productname</th>
    <th>Supplier</th>
    <th>Productdescription</th>
    <th>Standardprice</th>
    <th>Minimumorderquantity</th>
    <th>Maximumorderquantity</th>
    <th>Quantitytype</th>
    <th>Deliveryleadtime</th>
    <th>Valuesuppliedtodate</th>
    <th>Totalquantitysuppliedtodate</th>
    <th>Firstitemsupplieddate</th>
    <th>Lastitemsupplieddate</th>
    <th>Percentagediscount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.productname %></td>
    <td><%= product.supplier_id %></td>
    <td><%= product.productdescription %></td>
    <td><%= product.standardprice %></td>
    <td><%= product.minimumorderquantity %></td>
    <td><%= product.maximumorderquantity %></td>
    <td><%= product.quantitytype %></td>
    <td><%= product.deliveryleadtime %></td>
    <td><%= product.valuesuppliedtodate %></td>
    <td><%= product.totalquantitysuppliedtodate %></td>
    <td><%= product.firstitemsupplieddate %></td>
    <td><%= product.lastitemsupplieddate %></td>
    <td><%= product.percentagediscount %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>

