<p id="notice"><%= notice %></p>

<p>
  <b>Productname:</b>
  <%= @product.productname %>
</p>

<p>
  <b>Supplier:</b>
  <%= @product.supplier_id %>
</p>

<p>
  <b>Productdescription:</b>
  <%= @product.productdescription %>
</p>

<p>
  <b>Standardprice:</b>
  <%= @product.standardprice %>
</p>

<p>
  <b>Minimumorderquantity:</b>
  <%= @product.minimumorderquantity %>
</p>

<p>
  <b>Maximumorderquantity:</b>
  <%= @product.maximumorderquantity %>
</p>

<p>
  <b>Quantitytype:</b>
  <%= @product.quantitytype %>
</p>

<p>
  <b>Deliveryleadtime:</b>
  <%= @product.deliveryleadtime %>
</p>

<p>
  <b>Valuesuppliedtodate:</b>
  <%= @product.valuesuppliedtodate %>
</p>

<p>
  <b>Totalquantitysuppliedtodate:</b>
  <%= @product.totalquantitysuppliedtodate %>
</p>

<p>
  <b>Firstitemsupplieddate:</b>
  <%= @product.firstitemsupplieddate %>
</p>

<p>
  <b>Lastitemsupplieddate:</b>
  <%= @product.lastitemsupplieddate %>
</p>

<p>
  <b>Percentagediscount:</b>
  <%= @product.percentagediscount %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
