<h1>Listing suppliers</h1>

<table>
  <tr>
    <th>Suppliername</th>
    <th>Street</th>
    <th>Building</th>
    <th>Zip</th>
    <th>City</th>
    <th>Country</th>
    <th>Contactperson</th>
    <th>Phone1</th>
    <th>Phone2</th>
    <th>Fax</th>
    <th>Mobile</th>
    <th>Email1</th>
    <th>Email2</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.suppliername %></td>
    <td><%= supplier.street %></td>
    <td><%= supplier.building %></td>
    <td><%= supplier.zip %></td>
    <td><%= supplier.city %></td>
    <td><%= supplier.country %></td>
    <td><%= supplier.contactperson %></td>
    <td><%= supplier.phone1 %></td>
    <td><%= supplier.phone2 %></td>
    <td><%= supplier.fax %></td>
    <td><%= supplier.mobile %></td>
    <td><%= supplier.email1 %></td>
    <td><%= supplier.email2 %></td>
    <td><%= supplier.website %></td>
    <td><%= link_to 'Show', supplier %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
    <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supplier', new_supplier_path %>
