<p id="notice"><%= notice %></p>

<p>
  <b>Suppliername:</b>
  <%= @supplier.suppliername %>
</p>

<p>
  <b>Street:</b>
  <%= @supplier.street %>
</p>

<p>
  <b>Building:</b>
  <%= @supplier.building %>
</p>

<p>
  <b>Zip:</b>
  <%= @supplier.zip %>
</p>

<p>
  <b>City:</b>
  <%= @supplier.city %>
</p>

<p>
  <b>Country:</b>
  <%= @supplier.country %>
</p>

<p>
  <b>Contactperson:</b>
  <%= @supplier.contactperson %>
</p>

<p>
  <b>Phone1:</b>
  <%= @supplier.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @supplier.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @supplier.fax %>
</p>

<p>
  <b>Mobile:</b>
  <%= @supplier.mobile %>
</p>

<p>
  <b>Email1:</b>
  <%= @supplier.email1 %>
</p>

<p>
  <b>Email2:</b>
  <%= @supplier.email2 %>
</p>

<p>
  <b>Website:</b>
  <%= @supplier.website %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
